.searchbox input {
  background-color:#f5f5f5;
  border: 0;
  padding: 13px 24px;
  border-radius: 3px;
  width: 100%;
}

.searchbox::placeholder {
  color: #1c272b;
  font-size: 14px;
  font-weight: 600;
}

.searchbox .ais-SearchBox-submit,.searchbox .ais-SearchBox-reset {
  display: none;
}