.live-editor-card {
  background-color: rgb(30, 30, 30);
}

.codesandBox-icon {
  fill: var(--white);
}

.live-provider {
  /* overflow-x: auto; */
  /* width: 50vw;
  min-width: fit-content; */
  width: 75vw;
  max-width: fit-content;
}
