.Popover {
  border-radius: var(--spacing-m);
  display: flex;
  flex-direction: column;
  z-index: 500;
  background: var(--white);
  box-shadow: var(--shadow-l);
}

.Popover--dark {
  background: var(--inverse);
  color: var(--white);
}

.Popover[data-hide='true'] {
  visibility: hidden;
  pointer-events: none;
}

@keyframes popperOpen {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes popperClose {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

.Popover--open {
  animation: popperOpen 120ms cubic-bezier(0, 0, 0.38, 0.9);
}

.Popover--close {
  animation: popperClose 120ms cubic-bezier(0.2, 0, 1, 0.9);
}
